name: Gemstash-Tests

on: [push, pull_request]

jobs:
  gemstash_tests:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.4.7, 2.5.6, 2.6.4, jruby-9.2.9.0]
    steps:
      - uses: actions/checkout@v2
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: none
      - name: increase ulimit
        run: ulimit -n 8192
      - name: Install Dependencies
        run: gem install bundler && bin/setup
      - name: Run Rubocop
        run: rake rubocop
      - name: Run Tests
        run: rake spec
    timeout-minutes: 60

