name: Tests

on: [push, pull_request]

jobs:
  gemstash_tests:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.7", "3.0", "3.1", "3.2", "jruby-9.4"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # 'bundle install' and cache
      - run: gem update --system
        if: "${{ matrix.ruby == 'jruby-9.4' }}"
      - name: increase ulimit
        run: ulimit -n 8192
      - name: Run Tests
        run: bundle exec rspec --exclude-pattern "spec/integration_spec.rb"
      - name: Run Integration Tests
        run: bundle exec rspec ./spec/integration_spec.rb
    timeout-minutes: 60

