name: Lint

on: [push, pull_request]

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-22.04
    env:
      BUNDLE_WITH: "linting"
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler-cache: true # 'bundle install' and cache
    - name: Rubocop
      run: bundle exec rubocop

